div {
	background-color: #CEF6F5;
}

.calculator {
	font-family: monospace;
	text-transform: capitalize;
	margin-left: 10em;
	margin-right: 10em;
	padding: 2em;
	border: 1px dashed orange;
}

.hover_emp {
	background-color: #00FF00;
	border-radius:50%;
	-webkit-animation: rotate 2s linear infinite;
  	animation: rotate 2s linear infinite;
}