{% extends "layout.html" %}
{% set title = 'Add' %}
{% block body %}
<script src="static/js/add.js"></script>
<script src="static/js/ui.js"></script>
<link href="static/css/main.css" rel="stylesheet">
<div class="container">
	<p> I am just a line. </p>
</div>

<div id="comment">
<textarea name="comment[body]" tabindex="1" id="comment_body_622" placeholder="Leave a comment" class="comment-form-textarea js-comment-field  js-quote-selection-target  input-with-fullscreen-icon" data-suggester="622_new_preview_suggester" required=""></textarea>
</div>
{% endblock %}